.app {
  padding: 2rem;
}

.field {
  background-color: #c9ccd5;
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.preview {
  padding: 1rem;
}

.divider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.adder {
  padding: 0.3rem;
}

.optionsToAdd {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.editor {
  background-color: #cbd2e7;
  padding: 1rem;
  border-radius: 0.3rem;
}

.option {
  margin-left: 1.5rem;
  display: block;
}

input {
  margin: 0.2rem;
}

h3 {
  margin: 1rem 0;
}

.delete {
  margin-left: 3rem;
}

summary {
  margin: 1.5rem 0;
}

